@using CV.Models

@if (Profil is null)
{
    <p>Indlæser...</p>
}
else if (Profil.Erfaringer?.Count > 0)
{
    <h2 class="headline">Erfaringer</h2>
    <ul class="experience-list">
        @foreach (var e in Profil.Erfaringer)
        {
            <li class="experience-item">
                <article class="card">
                    <header class="row">
                        <h3 class="company">
                            <span class="firma">@e.Firma</span>
                            <span class="lokation">@e.Lokation</span> -
                            <span class="stilling">@e.Stilling</span>
                        </h3>
                    </header>
                    <p class="meta">@e.Periode</p>
                    <p class="desc">@e.Beskrivelse</p>
                </article>
            </li>
        }
    </ul>
}
else
{
    <p>Ingen erfaringer tilgængelige.</p>
}

@code {
    [Parameter] public Profil? Profil { get; set; }
}
